    Burası Home/Index

<p>Hoşgeldin @ViewBag.Name</p>
@if (@ViewBag.Month == 5)
{
    <p>oo Mayıs gelmiş</p>
}
<a asp-controller="Home" asp-action="Privacy">Privacy'e gider</a>
<br />
<a asp-controller="Home" asp-action="Register">Register Page</a>

