@{
    Layout = null;
}
@model Register

<title>Register</title>
<form asp-action="Registerr">
    <input asp-for="username" placeholder="kullanıcı adı" /><br />
    <input asp-for="password" placeholder="Şifre" /><br />
    <button type="submit">Gönder</button>
</form>

