@model CourseDisplayResponse

<div class="card">
    <img src="@Model.ImageUrl" class="img-fluid"></img>
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Description</p>
        <p class="card-text">@Model.Price</p>
    </div>
</div>
<!-- her kurs için dondurulecek yer aynı olacağından hep copy-paste yapmak yerine ortak bir view hazırlıyoruz -->