@model IEnumerable<CourseDisplayResponse>
@{
    ViewData["Title"] = "Home Page";
    var columnCount = 0;
}

<div class="row m-2 mb-1">
    @foreach (var courseDisplay in Model)
    {
        @if (columnCount != 0 && columnCount % 4 == 0)
        {
            @:</div><div class="row m-2 mb-1">
        }            
        <div class="col-3">
           <partial name="_CourseDisplay" model="courseDisplay"/>
           <!-- buradaki modeli _CourseDisplay modeline göndericez -->
        </div>
        columnCount += 1;
    }
</div>
<div> 
  <ul class="pagination justify-content-center">
    
    @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li class="page-item @(i == ViewBag.PageNo ? "active" : "")"><a asp-action="Index" asp-route-pageNo="@i" class="page-link">@i</a></li>
        }
  </ul>
</div>
